// https://github.com/chriskempson/tomorrow-theme
highlight-background = #2d2d2d
highlight-current-line = #393939
highlight-selection = #515151
highlight-foreground = #cccccc
highlight-comment = #969896
highlight-attr = #795da3
highlight-orange = #f99157
highlight-yellow = #ffcc66
highlight-string = #df5000
highlight-aqua = #66cccc
highlight-blue = #6699cc
highlight-keyword = #a71d5d
article-padding = 20px
line-height = 1.6em
font-size = 14px

.highlight
  display block
  font-size 12px
  font-family apiaryMonoFontFamily
  background #efefef
  color #333333
  line-height 1.4
  padding 3px 8px
  margin 15px 0
  overflow-x scroll
  pre
    padding 0
    margin 0

pre
  .comment
  .title
    color: highlight-comment
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .selector-class
  .selector-tag
  .css .pseudo
    color: highlight-attr
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: highlight-orange
  .class
  .ruby .class .title
  .css .rules .attribute
    color: highlight-string
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: highlight-string
  .css .hexcolor
    color: highlight-aqua
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: highlight-blue
  .keyword
  .javascript .function
    color: highlight-keyword
  .function .title
    color #333333
