$alert()
  $mediaObject()
  flex-wrap wrap // Longer items are wrapped - like headings/body
  border-radius 4px
  padding 10px 15px
  text-align center
  margin-bottom 5px
  p
    margin 0
    text-align left

  &__body
    text-align left

  &__heading
    width 100%
    text-align left
    font-weight 600
    font-size 120%

  &--info
    $_alertModifier($infoColor)
  &--success
    $_alertModifier($successColor)
  &--warning
    $_alertModifier($warningColor)
  &--error
    $_alertModifier($errorColor)

$_alertModifier(color)
  background-color tint(color, 85%)
  color darken(color, 35%)
