// Use for base text
$primaryBaseColor = #2c2e3e

// Brand colors
$primaryColor = #49b7ff
$secondaryColor = #49cc90
$tertiaryColor = #7991FF
$linkColor = #4ba4ff

// Hover colors
$primaryColorHover = #309EE6
$secondaryColorHover = #30B377
$tertiaryColorHover = #6078E6
$linkColorHover = #0071e4

// Border/grey color
$border = #AAB7CD

// Helper colors
$successColor = $secondaryColor
$errorColor = #e5a1a1
$warningColor = #ff851b
$infoColor = #0074d9

